global
    log stdout format raw local0
    maxconn 10000

defaults
    mode http
    log global

    option httplog
    option dontlognull

    timeout connect 10s
    timeout client  60s
    timeout server  60s
    timeout http-request 10s
    timeout http-keep-alive 30s

frontend http_front
    bind 127.0.0.1:8081

    http-request deny deny_status 400 if !{ req.hdr(host) -m found }

    default_backend envoy_backend

backend envoy_backend
    balance roundrobin

    option httpchk GET /health

    server envoy 127.0.0.1:8082 check
